### PrestaShop cache ###
config.xml
config_*.xml

### NPM ###
node_modules/

### Composer ###
/vendor/

### Assets ###
/views/dist/*
!/views/dist/README.md

### Tests ###
.php-cs-fixer.cache
.phpstan_bootstrap_config.php
tests/.env
