includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  paths:
  	# We consider that the extension file will be stored the folder test/phpstan
  	# From Phpstan 0.12, paths are relative to the .neon file.
  	- ../../kjmodulebedrock.php
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
  	# - '#Parameter \#1 \$idCategory of class Category constructor expects null, int given.#'

  level: 5
