grumphp:
  tasks:
    phpcsfixer:
      config: tests/php/.php_cs.dist
    phpstan:
      configuration: tests/php/phpstan.neon.dist
  parallel:
    enabled: false
  fixer:
    enabled: true
    fix_by_default: true
